* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, rgb(246, 98, 98), rgb(111, 111, 244));
  background-size: cover;
  font-family: "Poppins", Arial;
  height: 100vh;
  overflow-wrap: normal;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.letter .icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem;
}
.letter .icons h2 {
  color: rgb(223, 222, 222);
  padding-right: 60px;
  width: 200px;
}
.letter .icons #message {
  margin-left: 40px;
}
.letter i {
  cursor: pointer;
}
.letter .envelope {
  display: none;
  background-color: white;
  border-radius: 1.6rem;
}

.letter .envelope p {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
}

/* check */
.check {
  padding: 12px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* success */
#angry {
  display: none;
}
#happy {
  display: none;
}
.container {
  height: 100vh;
}

/* final messages */
.fail,
.success {
  color: white;
  font-size: large;
  font-weight: 700;
  display: none;
}

/* copyright */
.copyright {
  display: flex;
  justify-content: center;
  align-items: end;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (width < 1000px) {
  .remove-Typed {
    display: none;
  }
  .copyright > h2 {
    font-size: 15px;
  }
}
